// IMPORTS
@import 'nav.scss';
@import 'modal.scss';
@import 'grid.scss';
// VARIABLES  
$white: #fff;
$dark-grey: #0f1014;
// ROOT STYLES
:root {
    font-size: calc(0.6em + 1vw);
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

#myBtn {
    background-color: rgba(0, 0, 0, .8);
    color: white;
    cursor: pointer;
}

body {
    background-color: $dark-grey;
    margin: 0;
    padding: 0;
    color: $white;
    font-family: 'Lato', sans-serif;
    h1 {
        font-size: 6em;
        letter-spacing: .2em;
        font-family: 'Playfair Display', serif;
        padding: 0;
        margin: 0;
        color: $white;
        border-bottom: .03em solid white;
    }
    h2 {
        font-size: 3em;
    }
    p {
        font-weight: 300;
        font-size: 1.5em;
    }
}

// CONTAINERS
// HEADER CONTAINER
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

// CONTENT CONTAINER
.containerBlack {
    background: $dark-grey;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

// HEADER CONTENT
.mainheader {
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    background-color: $white;
    .mainlogo {
        max-width: 100%;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            width: 40vh;
        }
    }
}

.maindownarrow {
    width: 3em;
    position: absolute;
    left: 0;
    bottom: 3em;
    right: 0;
    margin: auto;
}

// MAIN CONTENT
.introbg {
    background: linear-gradient(to top, rgb(15, 16, 20), rgba(15, 16, 20, 0.45)), url("../img/bgtshop.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    width: auto;
}

.intro {
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.intro h1 {
    margin-top: .4em;
    font-weight: 400i;
}

.intro2 {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: -5em;
    padding-bottom: 3em;
}

.artists {
    margin: auto;
    margin-top: 5em;
    padding-bottom: 5em;
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 4em;
    align-self: center;
}

.artists img {
    width: 95%;
    align-self: center;
    justify-self: center;
}

.artists h1 {
    padding: 0;
}

.guests {
    height: 100%;
    padding-bottom: 4em;
}

.work {
    height: auto;
    padding-bottom: 3em;
}

.work h1 {
    margin-bottom: .5em;
}

.workimgs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: .5em;
    img {
        width: 100%;
        align-self: center;
    }
}

#social-media {
    width: 100%;
    height: auto;
    margin: 40px 0;
    text-align: center;
    border-top: solid 1px var(--accent-color);
}

#social-media .fa {
    font-size: 42px;
    padding: 40px 20px;
}

// MEDIA QUERIES
@media screen and (max-width: 600px) {
    body h1 {
        font-size: 6em;
        letter-spacing: 0.09em;
    }
}